.list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
}

.currency-logo {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.name {
  display: flex;
  align-items: center;
}
